docopt==0.6.2
ipython==8.12.3
nbconvert==7.16.6
open3d==0.19.0
opencv-python==4.11.0.86
pip-tools==7.4.1
pipdeptree==2.25.0
tinycss2==1.4.0
yarg==0.1.9
./image3d_utils/dist/image3d_utils-0.0.0-py3-none-any.whl
./face_recognition_arcface/dist/face_recognition_arcface-0.0.0-py3-none-any.whl
./face_recognition_fr3dnet/dist/face_recognition_fr3dnet-0.0.0-py3-none-any.whl